.text-center {
   background-color: #37363F;
   
}

h1 {
   font-family: 'Permanent Marker', cursive;
   color: #FFCE54;
   font-size: 7rem;
   letter-spacing: 8px;
   margin-bottom: 0;
}

.person-custom {
   font-size: 5rem;
   color: #4FC2EA;
   position: absolute;
   width: 78px;
   height: 53px;
   left: 342px;
   top: 325px;
}

button {
   background-color: #FFCE54;
   position: absolute;
   width: 417px;
   height: 91px;
   left: 350px;
   top: 445px;
   border-radius: 10px;
   font-size: 2.7rem;
   padding-bottom: 10px;
}

.logo-container {
   position: absolute;
   left: 925px;
   top: 150px;
}

.logo-robot {
   width: 600px;
   object-fit: contain;
}

.robotic-hand {
   position: absolute;
   width: 130px;
   height: 130px;
   left: 750px;
   top: 519px;
   z-index: 5000;
}


footer {
   margin-bottom: 0;
   position: absolute;
   bottom: 0;
   display: inline-block;
}
