<div class="d-flex flex-column h-100 w-100">

   <app-header></app-header>
   
   <div class="d-flex flex-row flex-fill ">

      <!-- login -->
      <div class="d-flex flex-row-reverse w-50 h-100">

         <div class="d-flex w-50 h-100 float-end align-items-center">
            <div class="w-100">
               <i class="d-block bi bi-person  person-custom"></i>
               <div class="d-flex">
                  <button class="ms-2 fw-bolder custom-button" routerLink="/dashboard" type="submit">google me in !</button>
                  <div class="robotic-hand "></div>
               </div>
            </div>
         </div>
         
      </div>

      <!-- logo -->
      <div class="w-50 h-100 logo-robot"></div>

   </div>

   <app-footer></app-footer>

</div>




