.logo-robot 
{
   background-image: url('../../assets/images/rsz_robot_logo.png');
   background-position: left;
   background-repeat: no-repeat;
   background-size:contain;
}

.person-custom
{
   font-size: 3.5rem;
   color: var(--secondary-lightBlue);
   margin: 0;
   padding: 0;
}

.custom-button 
{
   font-family: 'Montserrat', sans-serif;
   background-color: var(--tertiary-yellow);
   border-radius: 5px;
   font-size: 1.6rem;
   border-color : transparent;
   padding: 10px 15px 10px 15px;
}

.robotic-hand 
{
   width: 64px;
   height: 64px;
   z-index: 50000;
   background-image: url('../../assets/images/rsz_robotic_hand.png');
   background-position: left;
   background-repeat: no-repeat;
   background-size:contain;
   transform: translate(-10%,85%);
}







.test1
{
   outline: 1px solid green;
}

.test2
{
   border: 1px solid red;
}

.test3
{
   border: 1px solid yellow;
}