<div class="d-flex flex-column h-100 w-100">

   <app-header></app-header>
   
   <div class="d-flex flex-fill login-container">

      <!-- login -->
      <div class="d-flex login">

         <div class="d-flex login-right">
            <div class="w-100">
               <i class="d-block bi bi-person person-custom"></i>
               <div class="d-flex login-button">
                  <button class="fw-bolder custom-button" routerLink="/dashboard" type="submit">google me in !</button>
                  <div class="robotic-hand"></div>
               </div>
            </div>
         </div>
         
      </div>

      <!-- logo -->
      <div class="logo"></div>
 
   </div>

   <app-footer></app-footer>

</div>




