<div>

   <app-header></app-header>
   <div class="main-container">
      <i class="bi bi-person person-custom"></i>
      <div class="robotic-hand">
         <img src="./assets/images/rsz_robotic_hand.png" alt="main robotique en guise de curseur" >
      </div>
      <button routerLink="/dashboard" type="submit" class="fw-bold">google me in !</button>
      <div class="logo-container">
         <img class="logo-robot" src="./assets/images/rsz_robot_logo.png" alt="logo du site qui représente un robot multicolore">
      </div>
      
   </div>
   <app-footer></app-footer>

</div>

