h1 
{
   background-color: var(--header-and-footer-color);
   font-family: 'Permanent Marker', cursive;
   color: var(--tertiary-yellow);
   font-size: 5vw;
   letter-spacing: 1vw;
   margin-bottom: 0;
   padding: 15px 0px 10px 0;
}