footer {
   background-color: var(--header-and-footer-color);
   position: absolute;
   bottom: 0;
   width: 100%;
   text-align: center;
}

p, a {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
   color: var(--main-white);
   padding: 10px 0;
}

p {
   margin-bottom: 0;
}

a {
   text-decoration: none;
}

a:hover {
   color: var(--tertiary-yellow);
}