.custom-footer
{
   height: 40px;
   font-family: 'Montserrat', sans-serif;
}

p, a 
{
   height: 1.5vw;
   font-size: 1vw;
   color: var(--main-white);
}

a 
{
   text-decoration: none;
}

a:hover 
{
   color: var(--tertiary-yellow);
}