<span *ngIf="level == 0">
    <i class="bi bi-star fs-5 me-2 level-icon"></i>
    <i class="bi bi-star fs-5 me-2 level-icon"></i>
    <i class="bi bi-star fs-5 me-2 level-icon"></i>
</span>

<span *ngIf="level == 1">
    <i class="bi bi-star-fill fs-5 me-2 level-icon"></i>
    <i class="bi bi-star fs-5 me-2 level-icon"></i>
    <i class="bi bi-star fs-5 me-2 level-icon"></i>
</span>

<span *ngIf="level == 2">
    <i class="bi bi-star-fill fs-5 me-2 level-icon"></i>
    <i class="bi bi-star-fill fs-5 me-2 level-icon"></i>
    <i class="bi bi-star fs-5 me-2 level-icon"></i>
</span>

<span *ngIf="level == 3">
    <i class="bi bi-star-fill fs-5 me-2 level-icon"></i>
    <i class="bi bi-star-fill fs-5 me-2 level-icon"></i>
    <i class="bi bi-star-fill fs-5 me-2 level-icon"></i>
</span>