/* CSS HEADER */
.dashboard-header 
{
   background-color: var(--header-and-footer-color);
   height: 50px;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}
.header-title
{
   width: 50%;
   font-size: 1.85rem;
   font-weight: bold;
   color : var(--tertiary-yellow);
}
.header-welcome 
{
   width: 40%;
   color: var(--main-white);
}
.header-logout
{
   width: 10%;
}
.logout-icon-custom 
{
   color: var(--secondary-lightBlue);
   font-size: 2rem;
}
/* MAIN CSS */
.main-container
{
   color:white;
   height: calc(100vh - 50px - 1px);
}
.main-left,.main-right
{
   width:28%;
}
.main-center
{
   width:44%;
}

/* rich text editor styling */
/* setting the height in px */
:host ::ng-deep .ck-editor__editable_inline 
{
   height: 475px;
   color: black;
}


/* Ajout produits amazon */
.add-product-icon
{
   color: var(--tertiary-yellow);
}

.referenced-products-info
{
   background-color: #37363F;
   color : white;
   width: 250px;
   height: 100%;
   font-weight: bold;
}

.referenced-products-list
{
   background-color: #37363F;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden
}

.card
{
   color: black !important;
   width: 14rem;
   white-space: normal;
}

.card-title
{
   font-size: 0.85rem;
}

.card-text
{
   font-size: 0.65rem;
}

.btn-product-see
{
   background-color: var(--secondary-lightBlue);
   font-size: 0.75rem;
}

.edit-product-icon
{
   top : 4px;
   left: 7px;
   color : var(--tiny-icon-red);
}

.delete-product-icon
{
   top : 4px;
   right: 7px;
   color : var(--tiny-icon-red);
}







/* HELPER */
.test1
{
   outline : 1px solid yellow;
}
.test2
{
   outline : 1px solid white;
}
.test3
{
   outline : 1px solid cyan;
}
.test4
{
   outline : 1px solid black;
}












/* RESPONSIVE */
/* écran de taille inférieure à 680px */
@media screen and (max-width: 680px)
{
   .header-title
   {
      font-size: 1rem;
      padding-left: 8px !important;
   } 
   .header-welcome 
   {
      font-size: 0.75rem;
   }
   .logout-icon-custom 
   {
      font-size: 1.5rem;
   }
   .main-left, .main-center
   {
      width:100vw;
      flex-wrap: wrap;
   }
   .main-right
   {
      visibility: hidden;
   }
   .test1
   {
      outline : 3px dashed rgb(135, 222, 196);
   }
}