<!-- HEADER DASHBOARD -->
<div class="d-flex flex-row dashboard-header">
   <div class="d-flex align-items-center ps-3 header-title">Gestion des articles</div>
   <div class="d-flex align-items-center header-welcome">
      <span class="text-end w-100 pe-3">Bienvenue Claude !</span>
   </div>
   <div class="d-flex align-items-center header-logout">
      <span class="text-end w-100 pe-4">
         <i class="bi bi-box-arrow-right logout-icon-custom"></i>
      </span>
   </div>
</div>

<!-- MAIN DASHBOARD -->
<div class="d-flex flex-row flex-wrap main-container h-100">

   <!-- Panneau Gauche -->
   <div class="d-flex flex-column main-left p-2">
      
      <!-- boutons de recherches -->
      <label class="mb-1">Filtres de recherche</label>
      <!-- groupe 1 -->
      <div class="d-flex flex-row mb-2">
            <!-- recherche par tags-->
            <select class="me-2 w-50 filter-combobox p-1" name="tags" id="select-tags">
               <option value="">Tags</option>
               <option value="robots">Robots</option>
               <option value="lego">Lego</option>
            </select>
         <!-- recherche par level -->
            <select class="w-50 filter-combobox p-1" name="level" id="select-level">
               <option value="">Niveau</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
            </select>
      </div>
      <!-- groupe 2 -->
      <div class="d-flex flex-row mb-2">
         <!-- recherche par année -->
         <select class="me-2 w-50 filter-combobox p-1" name="year" id="select-year">
            <option value="">Année</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
         </select>
         <!-- recherche mois -->
         <select class="w-50 filter-combobox p-1" name="month" id="select-month">
            <option value="">Mois</option>
            <option value="12">Décembre</option>
            <option value="11">Novembre</option>
            <option value="10">Octobre</option>
            <option value="9">Septembre</option>
            <option value="8">Août</option>
            <option value="7">Juillet</option>
            <option value="6">Juin</option>
            <option value="5">Mai</option>
            <option value="4">Avril</option>
            <option value="3">Mars</option>
            <option value="2">Février</option>
            <option value="1">Janvier</option>
         </select>
      </div>

      <!-- liste des articles -->
      <div class="w-100 posts-list" #listPosts>

         <!-- element liste -->
         <div class="post-card" *ngFor="let miniArt of miniArticles" >
            <div class="d-flex flex-row h-100" (mouseover)="showActionButtonsInArticleList=true" (mouseout)="showActionButtonsInArticleList=false">
               <!-- date et titre -->
               <div class="d-flex flex-column h-100 post-card-left h-100">
                  <div class="d-flex post-card-date ps-2 h-50 align-items-center">
                     <span *ngIf="isFrench; else isEnglishDate">
                        <i>{{ miniArt.datePublication | date:'fullDate':'':'fr-FR' }}</i>
                     </span>
                     <ng-template #isEnglishDate>
                        <i>{{ miniArt.datePublication | date:'fullDate':'':'en-EN' }}</i>
                     </ng-template>
                  </div>
                  <div class="d-flex post-card-title p-2 h-50">
                     <strong>{{ miniArt.miniSubArticles[isFrench].titre }}</strong>
                  </div>
               </div>

               <!-- actions-->
               <div class="d-flex post-card-right h-100 align-items-center justify-content-center">
                  <app-level-stars [level]="miniArt.level" *ngIf="!showActionButtonsInArticleList"></app-level-stars>
                  <div *ngIf="showActionButtonsInArticleList">
                     <i class="bi bi-pencil-square fs-5 me-2 post-edit"></i>
                     <i class="bi bi-pencil-square fs-5 me-2" style="visibility: hidden;"></i>
                     <i class="bi bi-trash fs-5 me-2 post-delete"></i>
                  </div>
               </div>
            </div>
         </div>

      </div>



       
   </div>
   
   <!-- Panneau Central -->
   <div class="d-flex flex-column main-center p-2" #mainCentral>
      
      <!-- editeur rich text -->
      <label class="mb-1">Contenu principal</label>
      <ckeditor [editor]="Editor" class="rt-editor"></ckeditor>

      <label class="mt-3 mb-1">Ajouter des liens vers des produits</label>
      <div class="d-flex flex-row mb-2 w-100 me-5" style="height: 30px;">
         <i class="bi bi-file-earmark-plus-fill fs-5 me-2 add-product-icon" (click)="toggleProductModal()"></i>
         <app-add-product *ngIf="showProductModal" (messageEvent)="productModalState($event)"></app-add-product>
         <div class="d-flex flex-grow-1 ps-2 referenced-products-info">3 produits référencés</div>
      </div>

      <!-- liste des cartes produits -->
      <div class="p-2 w-100 referenced-products-list">

         <!-- carte -->
         <div class="card d-inline-block position-relative me-2">
            <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
            <div class="d-inline-block w-100 " style="padding-left: 3rem;">
               <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
            </div>
            <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
            <div class="card-body">
               <h5 class="card-title fw-bold">Moteur Lego</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-product-see fw-bold">Voir</a>
            </div>
         </div>

                 <!-- carte -->
                 <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>

      </div>

   </div>


   <!-- Panneau de droite -->
   <div class="d-flex flex-column p-2 pe-4  main-right position-relative">
      
      <!-- langue -->
      <label class="mb-1">Langue d'édition</label>
      <div class="d-flex flex-row">
         <select class="d-flex flex-grow-1 language-combobox me-3 p-1" name="language" id="select-language" (change)="selectLanguage($event)">
            <option value="1">Français</option>
            <option value="0">Anglais</option>
         </select>
         <div class="d-inline">
            <img src="./assets/images/Flag_of_the_United_Kingdom.svg" style="height: 31px; width: 62px;display:inline-block" *ngIf="!isFrench"/>
            <img src="./assets/images/Flag_of_France.svg" style="height: 31px; width: 62px;display:inline-block" *ngIf="isFrench"/>
         </div>
      </div>

      <!-- titre -->
      <label class="mt-2 mb-1">Titre</label>
      <div class="d-flex flex-row mb-2 w-100 me-5" style="height: 30px;">
         <i class="bi bi-pen fs-5 me-2 titre-icon"></i>
         <input type="text" class="d-flex flex-grow-1 ps-2 titre-info">
      </div>

      <!-- courte description -->
      <label class="mt-2 mb-1">Courte description</label>
      <div class="d-flex flex-row mb-2 w-100 me-5" >
         <i class="bi bi-pen fs-5 me-2 description-icon"></i>
         <textarea class="d-flex flex-grow-1 ps-2 description-info" rows="3"></textarea>
      </div>
      
      <!-- tags -->
      <label class="mt-2 mb-1">Tags séparés par une virgule</label>
      <div class="d-flex flex-row mb-2 w-100 me-5" >
         <i class="bi bi-pencil-square fs-5 me-2 tags-icon"></i>
         <textarea class="d-flex flex-grow-1 ps-2 tags-info" rows="3"></textarea>
      </div>

      <!-- date de publication -->
      <label class="mt-2 mb-1">Date de publication</label>
      <div class="d-flex flex-row mb-2 w-100 me-5" style="height: 30px;">
         <i class="bi bi-calendar-week-fill fs-5 me-2 date-icon"></i>
         <div class="d-flex flex-grow-1 ps-2 date-info">Vendredi 5 Mai 2021</div>
      </div>

      <!-- pièces jointes -->
      <label class="mt-2 mb-1">Ajouter des pièces jointes :</label>
      <div class="d-flex flex-row mb-2 w-100 me-5" >
         <i class="bi bi-file-earmark-arrow-up-fill fs-5 me-2 files-icon"></i>
         <div class="d-flex flex-grow-1 ps-2 files-info">
            <div>
               3 fichiers sélectionnés :
               <br>
               <ul>
                  <li>test.js</li>
                  <li>code1.cpp</li>
                  <li>moon.css</li>
               </ul>
            </div>
         </div>
      </div>

      <!-- video link -->
      <label class="mt-3 mb-1">Vidéo Youtube</label>
      <div class="d-flex flex-row mb-2 w-100 me-5" style="height: 30px;">
         <i class="bi bi-link-45deg fs-5 me-2 titre-icon"></i>
         <input type="text" class="d-flex flex-grow-1 ps-2 titre-info">
      </div>

      <!-- Niveau de difficulté -->
      <label class="mt-3 mb-1">Niveau de difficulté</label>
      <div class="d-flex flex-row mb-5 w-100 me-5" style="height: 30px;">
         <app-level-stars [level]="level"></app-level-stars>
         <select name="level" id="level" class="level-info" (change)="selectLevel($event)">
            <option class="level" value="0">0</option>
            <option class="level" value="1">1</option>
            <option class="level" value="2">2</option>
            <option class="level" value="3">3</option>
         </select>
      </div>

      <!-- bouton publier -->
      <div class="d-flex flex-row justify-content-center mb-3">
         <button class=" w-100 button-publish py-1">
            <span class="w-100 text-middle">publier l'article</span>
         </button>
      </div>
   </div>

</div>