<!-- HEADER DASHBOARD -->

<div class="d-flex flex-row dashboard-header">
   <div class="d-flex align-items-center ps-3 header-title">Gestion des articles</div>
   <div class="d-flex align-items-center header-welcome">
      <span class="text-end w-100 pe-3">Bienvenue Claude !</span>
   </div>
   <div class="d-flex align-items-center header-logout">
      <span class="text-end w-100 pe-4">
         <i class="bi bi-box-arrow-right logout-icon-custom"></i>
      </span>
   </div>
</div>

<!-- MAIN DASHBOARD -->
<div class="d-flex flex-row flex-wrap main-container">

   <!-- Panneau Gauche -->
   <div class="d-flex flex-column main-left">
      <!-- todo -->
   </div>
   
   <!-- Panneau Central -->
   <div class="d-flex flex-column main-center p-2">
      
      <!-- editeur rich text -->
      <label class="mb-1">Contenu principal</label>
      <ckeditor [editor]="Editor" class="rt-editor"></ckeditor>

      <!-- liens amazon -->
      <label class="mt-4 mb-1">Ajouter des liens vers des produits</label>
      <span class="mb-2">
         <i class="bi bi-file-earmark-plus-fill fs-6 me-2 add-product-icon"></i>
         <div class="d-inline-block ps-2 referenced-products-info">3 produits référencés</div>
      </span>

      <!-- liste des cartes produits -->
      <div class="p-2 referenced-products-list">

         <!-- carte -->
         <div class="card d-inline-block position-relative me-2">
            <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
            <div class="d-inline-block w-100 " style="padding-left: 3rem;">
               <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
            </div>
            <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
            <div class="card-body">
               <h5 class="card-title fw-bold">Moteur Lego</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-product-see fw-bold">Voir</a>
            </div>
         </div>

                 <!-- carte -->
                 <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>         <!-- carte -->
               <div class="card d-inline-block position-relative me-2">
                  <i class="bi bi-pencil-square fs-5 edit-product-icon position-absolute"></i>
                  <div class="d-inline-block w-100 " style="padding-left: 3rem;">
                     <img src="./assets/images/lego-motor.svg" class="d-flex align-self-center lego-motor-image" style="width: 8rem;">
                  </div>
                  <i class="bi bi-x-square fs-5 delete-product-icon position-absolute"></i>
                  <div class="card-body">
                     <h5 class="card-title fw-bold">Moteur Lego</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-product-see fw-bold">Voir</a>
                  </div>
               </div>

      </div>

   </div>


   <!-- Panneau Droit -->
   <div class="d-flex flex-column main-right">
      

      
      
      
   </div>


</div>
